li{
    display: flex;
    width: 90%;
    background-color: #f5f5f5;
    flex-direction: column;
    font-size: 1.6rem;
    /* align-items: flex-start; */
    margin-block-start: 10px;
    margin-block-end: 10px;
    padding-block-start: 5px;
    padding-block-end: 5px;
    color: #61BAB2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .25);
}

li > p{
    font-size: 2rem;
    height: auto;
    margin-block-start: 10px;
    margin-block-end: 5px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

li > .span--a{
    align-self: flex-start;
    width: 40px;
    height: 40px;
    background-image: url('./circle.svg');
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    margin-inline-start: 10px;
    
}

li > .span--b{
    align-self: flex-end;
    width: 40px;
    height: 40px;
    background-image: url('./x-icon.svg');
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    margin-inline-end: 10px;
}

li > .span--b:hover{
    background-image: url('./red-x-icon.svg');
}

li > .checkIcon{
    background-image: url('./check.svg');
}

.task-completed{
    opacity: 70%;
    text-decoration: line-through;
}